body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background: linear-gradient(135deg, #88c840, #681838);
  background-attachment: fixed;
  padding: 0;
  margin: 0;
}

.main-wrapper {
  margin-bottom: 50px;
}

.header, .footer {
  padding-top: 20px;
}

.text-gradient {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  background-color: #72523a;
  background-image: linear-gradient(90deg, #7d8e3d, #72523a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 40px;
}

.text-gradient span {
  color: #88c840;
  text-transform: uppercase;
}

.vocabulary-wrapper {
  display: flex;
  padding-top: 40px;
}

.title-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px 40px 35px;
  text-transform: uppercase;
  width: 40%;
}

.title-js {
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 4.5rem;
  color: #88c840;
  margin: 0;
}

.title-eng-rus {
  font-size: 2.7rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 4.5rem;
  color: #ffffff;
  margin: 0;
}

.title-deco-line {
  height: 2px;
  background-color: #88c840;
  margin-bottom: 15px;
  width: auto;
}

.title-vocabulary {
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 4.5rem;
  color: #ffffff;
  margin: 0;
}

.vocabulary-body {
  box-shadow: 0 0 25px 5px #88c840;
  border-radius: 10px;
  padding: 35px;
  width: 60%;
  margin-right: 40px;
  margin-bottom: 50px;
}

.inputs-block {
  display: flex;
  align-items: flex-end;
  margin-bottom: 60px;
}

.input-item {
  margin-right: 40px;
  max-width: 255px;
}

input {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid #fff;
  height: 54px;
  outline: none;
  border-radius: 4px;
  font-size: 18px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
  padding-left: 18px;
  width: 100%;
}

.input.error {
  border: 1px solid red;
}

#add-word-btn {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border: none;
  height: 56px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
  width: 141px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

#add-word-btn:hover {
  background: rgba(255, 255, 255, 0.447);
}

table {
  width: 70%;
}

.tr {
  position: relative;
}

.btn-delete {
  background-image: url("../img/btn_delete.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: none;
  margin-top: 10px;
}

.eng-word, .rus-word {
  font-style: normal;
  font-size: 35px;
  line-height: 43px;
  letter-spacing: 0.03em;
  color: #88c840;
  flex: none;
  align-self: center;
  margin: 40px 0px;
}

.rus-word {
  font-weight: lighter;
  order: 1;
}

.eng-word {
  font-weight: bold;
  order: 0;
}

.bottom-wrapper {
  margin-bottom: 50px;
}

.deco-line-bottom {
  height: 2px;
  background-image: linear-gradient(90deg, #86983e, #7f973d);
  margin: 30px 40px 50px;
}

@media (max-width: 1200px) {
  .title-js {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .title-eng-rus {
    font-size: 1.7rem;
    line-height: 2.7rem;
  }
  .title-vocabulary {
    font-size: 2.5rem;
    line-height: 2.3rem;
  } 
}

@media (max-width: 1024px) {
  .vocabulary-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .vocabulary-body {
    padding: 25px;
    width: 85%;
    margin-right: 0px;
  }
  .title-body {
    width: 100%;
    align-items: center;
    padding: 0px 40px 35px;
  }
  .title-deco-line {
    width: 90%;
  }
  input {
    font-size: 16px;
    padding-left: 10px;
  }
}

@media (max-width: 768px) {
  table {
    width: 100%;
  }
  .eng-word, .rus-word {
    font-size: 25px;
    line-height: 23px;
  }
  .inputs-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
  }
  .input-item {
    margin-right: 0px;
  }
  input {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .eng-word, .rus-word {
    font-size: 20px;
  }
}